.msgDialog-con {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 368px;
  height: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 11;
  /* transform-origin: 50% 50%; */
  transition: all 0.15s ease-in-out;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgDialog-title {
  width: 220px;
  height: 23px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(229, 69, 92);
}
.msgDialog-content {

}
.msgDialog-btns {

}
.btns-comfirm {

}
.btns-close {
  
}